BOT_TOKEN = "1845134939:AAG0QiAOcHT0umtA3Fuoo0RQ4TlFB3EV9Lo"
OWNER_ID = "1150804862"
AUTHORIZED_CHATS = "-1001523441307"  # Split by space
# If you want to use Credentials externally from Index Links, fill these vars with the direct links
# These are optional, if you don't know, simply leave them, don't fill anything in them.
TOKEN_PICKLE_URL = ""
